@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,500;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
}

.navigationBar {
  background-color: white;
}

.navigationBar img {
  width: 40px;
  height: 40px;
  margin: auto auto auto 2rem;
}

.navigationBar p {
  text-align: left;
  font-size: calc(max(1vw, 16px));
}

.wrapper {
  background: url("../images/pattern1.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
}

.homeTitle {
  padding-top: 4rem;
  font-size: calc(max(6vw, 47px));
  font-weight: 900;
  text-align: center;
  line-height: 1em;
  color: white;
}

.homeDescription {
  color: white;
  font-style: italic;
  text-align: center;
  font-size: calc(max(2vw, 16px));
}

.topContainer {
  width: 75%;
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.topContainer .topMainImg {
  width: 184px;
  height: calc(max(205px, 305px));
  margin: auto;
}

.topContainer .topNdImg {
  position: absolute;
  width: calc(max(150px, 184px));
  right: calc(min(-32px, 40px));
  top: 94px;
  transform: rotate(10deg);
}

.topContainer button {
  background-color: white;
  width: calc(max(231px, 25%));
  position: absolute;
  z-index: 2;
  top: 205px;
  margin: auto;
  border: none;
  border-radius: 25px;
  height: 55px;
  font-size: calc(max(1vw, 16px));
  font-weight: 900;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.leftImg {
  margin: 3rem 0;
  width: calc(max(80px, 11rem));
  height: calc(max(80px, 11rem));
}

.topContainerBottom {
  padding: 2rem 0 2rem 2rem;
  color: #000000;
  font-weight: 700;
  text-align: right;
  margin-right: 0;
  position: relative;
  width: 90%;
}

.topContainerBottom p {
  font-size: calc(max(16px, 1.5vw));
}

.topContainerBottom span {
  color: #0B24FB;
}

.roundedBlue {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  bottom: -60px;
  left: 40px;
  background-color: #0B24FB;
}

.writer {
  color: white;
  font-style: italic;
}

.cardTestimonialWrapper {
  position: relative;
}

.testimonialCardContainer {
  width: calc(max(90%, 60%));
  background-color: none;
  position: absolute;
  z-index: 2;
  left: 10%;
  top: calc(max(-20vw, -200px));
}

.testimonialcontainerTitle {
  font-weight: 900;
  font-size: calc(max(3vw, 28px));
  color: white;
  margin-bottom: 0;
}

.testimonialCard {
  width: 250px;
  height: 120px;
  margin: 10px 0.5rem;
  background-color: white;
  padding: 10px;
}

.testimonialCard .infoCardTitle {
  color: #000000;
  margin: 10px 5px;
  height: auto;
  font-size: calc(max(3vw, 24px));
  font-weight: 900;
}

.testimonialCard .infoCardPost {
  color: #000000;
  margin: 0 5px;
  inline-size: 225px;
  overflow: hidden;
  height: 50px;
  font-size: calc(max(1vw, 16px));
}

.slider {
  width: calc(max(350px, 65%));
  position: absolute;
  bottom: -76%;
  height: 20vh;
  margin-left: 1.5rem;
  margin-right: 0;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: none;
  z-index: 2;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  background-color: none;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #333;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: -70px;
}

.flickity-prev-next-button.next {
  right: -70px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.btmWrapper {
  background-color: #000000;
  color: white;
  padding-top: 10em;
}

.btmWrapper .btmMainImg {
  width: 15rem;
  height: 20rem;
}

.btmWrapper .btmNdImg {
  position: absolute;
  width: calc(max(70px, 100px));
  z-index: -1;
  right: -33px;
  top: 80px;
  transform: rotate(180deg);
  -webkit-transform: scaleX(-1);
}

.infoCard {
  width: 90%;
  margin: auto;
  padding: 2rem 1rem;
}

.infoCardTitle {
  font-weight: 900;
  font-size: calc(max(3vw, 24px));
}

.infoCardPost {
  font-size: calc(max(1vw, 14px));
}

.helpTipsTitle {
  width: 80%;
  position: relative;
  z-index: 2;
  margin: auto;
  padding: 2rem 0;
}

.helpTipsTitle p {
  padding-left: 1rem;
  font-weight: 900;
}

.helpTipsCardContainer {
  width: 90%;
  margin: 2rem auto;
  position: relative;
}

.helpTipsCardContainer p {
  font-weight: 700;
}

.helpTipsCardContainer img {
  width: 100%;
  height: auto;
}

.helpTipsTitleCard {
  height: 70px;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  z-index: 2;
  text-align: left;
}

.helpTipsTitleCard p {
  width: 250px;
  font-size: calc(max(1vw, 16px));
  margin: auto;
}

.helpTipsTitleCard button {
  width: 50px;
  height: auto;
  border: none;
  margin: auto;
  font-size: calc(max(1vw, 25px));
  text-align: center;
  border-radius: 25px;
}

footer {
  background-color: #0B24FB;
  width: 100%;
  color: white;
  padding: 1.5rem;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

.appVersion {
  border-radius: 30px;
  border: 2px solid white;
  width: calc(max(150px, 22%));
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .flickity-prev-next-button {
    display: none;
  }
  .wrapper {
    padding-bottom: 7em;
  }
  .topNdImg,
  .btmNdImg {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 2550px) {
  .cardTestimonialWrapper {
    left: auto;
    justify-content: center;
    width: 75%;
    margin: auto;
  }
  .btmWrapper p {
    text-align: center;
  }
  .topContainerBottom {
    margin: auto auto 150px auto;
    width: calc(max(450px, 45%));
  }
  .testimonialCardContainer {
    top: -11vw;
  }
  .helpTipsTitleCard p {
    text-align: left;
    font-size: calc(max(1vw, 16px));
    padding-left: 0;
  }
  .helpTipsTitleCard button {
    height: auto;
    border-radius: 25px;
  }
  .testimonialCard {
    width: 325px;
    height: auto;
  }
  .testimonialCard .infoCardPost {
    inline-size: 290px;
  }
  .infoCardPost {
    width: calc(max(450px, 45%));
    margin: auto;
  }
  .roundedBlue {
    bottom: -100px;
    left: 10px;
  }
  .testimonialCardContainer {
    top: -100px;
    margin: auto;
    width: 50%;
    left: 25%;
  }
}
